# Where should we store zinit and plugins
ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"

# Make sure Zinit is installed
# Download Zinit, if it's not there yet
if [ ! -d "$ZINIT_HOME" ]; then
   mkdir -p "$(dirname $ZINIT_HOME)"
   git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
fi

# Source Zinit
source "${ZINIT_HOME}/zinit.zsh"

# Plugins
{{ range $_, $plugin := .zinit.plugins -}}
zinit light {{ $plugin }}
{{ end -}}

# Snippets
{{ range $_, $snippet := .zinit.snippets -}}
zinit snippet {{ $snippet }}
{{ end -}}
