{{- $email := promptStringOnce . "email" "example@example.org" -}}
{{- $username := promptStringOnce . "username" "example" -}}
{{- $starship_enable := promptBoolOnce . "starship.enable" "Enable Starship" -}}
{{- $zinit_enable := promptBoolOnce . "zinit.enable" "Enable Zinit" -}}
{{- $sketchybar_enable := promptBoolOnce . "sketchybar.enable" "Enable Sketchybar" -}}
{{- $window_manager_choices := list "yabai" "aerospace" "custom" -}}
{{- $window_manager := promptChoiceOnce . "wm.type" "What type of window manager should be enable" $window_manager_choices -}}

---
data:
    email: {{ $email | quote }}
    username: {{ $username | quote }}
    sketchybar:
        enable: {{ $sketchybar_enable }}
    wm:
        type: {{ $window_manager | quote }}
        borders: false
    starship:
        enable: {{ $starship_enable }}
    zinit:
        enable: {{ $zinit_enable }}
        plugins:
            - zsh-users/zsh-syntax-highlighting
            - zsh-users/zsh-completions
            - zsh-users/zsh-autosuggestions
        snippets:
            - OMZP::command-not-found
            - OMZP::colored-man-pages
#           - OMZP::macos # Try this sometime
#           - OMZP::1password # Try this sometime
    default:
        pkgs:
            - eza
            - bat
            - diff-so-fancy
            - git-filter-repo
            - jq
            - neovim
            - openssh
            - git
            - telnet
            - felixkratz/formulae/borders
            - wget
            - ykman
            - cask signal
            - cask font-hack-nerd-font
            - cask font-sf-pro
            - cask sf-symbols
            - cask kicad
