{{- $email := promptStringOnce . "email" "example@example.org" -}}
{{- $username := promptStringOnce . "username" "example" -}}
{{- $starship_enable := promptBoolOnce . "starship.enable" "Enable Starship" -}}
{{- $zinit_enable := promptBoolOnce . "zinit.enable" "Enable Zinit" -}}
---
data:
    email: {{ $email | quote }}
    username: {{ $username | quote }}
    starship:
        enable: {{ $starship_enable }}
    default:
        pkgs:
            - eza
            - bat
            - diff-so-fancy
            - git-filter-repo
            - jq
            - neovim
            - openssh
            - git
            - telnet
            - felixkratz/formulae/borders
            - felixkratz/formulae/sketchybar
            - wget
            - ykman
            - cask signal
            - cask aerospace
            - cask font-hack-nerd-font
            - cask font-sf-pro
            - cask sf-symbols
            - cask kicad
            - cask raycast
    zinit:
        enable: {{ $zinit_enable }}
        plugins:
            - zsh-users/zsh-syntax-highlighting
            - zsh-users/zsh-completions
            - zsh-users/zsh-autosuggestions
        snippets:
            - OMZP::command-not-found
            - OMZP::colored-man-pages
#           - OMZP::macos # Try this sometime
#           - OMZP::1password # Try this sometime
