{{- $email := promptStringOnce . "email" "example@example.org" -}}
{{- $username := promptStringOnce . "username" "example" -}}

[data]
    email = {{ $email | quote }}
    username = {{ $username | quote }}
