[includeIf "gitdir:~/.config/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/.dotfiles/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/Projects/personal/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/Projects/school/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/Projects/work/"]
  path = ~/.gitconfig-work

[github]
    user = TheNerdyHamster
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[alias]
    s = status
    d = diff
    co = checkout
    br = branch
    last = log -1 HEAD
    cane = commit --amend --no-edit
    lo = log --oneline -n 10
    pr = pull --rebase
    cm = commit
    rh = reset --hard
    a = add
    al = add .
    ap = add -p
    pu = push
    loa = log --oneline --all --decorate --graph
    patch = !git --no-pager diff --no-color
[core]
    #excludesfile = ~/.gitignore_global
    editor = nvim
	  pager = diff-so-fancy | less --tabs=2 -RFXS
	autocrlf = input
#[commit]
    #gpgSign = {{ git_sign_commits }}
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
  changeHunkIndicators = true
  stripLeadingSymbols = true
  markEmptyLines = false
  rulerWidth =
	first-run = false
[init]
	defaultBranch = main
[status]
	submodulesummary = true
[user]
	email = leo.ronnebro@nerdyhamster.net
	name = Leo Rönnebro
