source_if_exists () {
	if test -r "$1"; then
		source "$1"
	fi
}

# Source
source_if_exists $HOME/.zsh/zinit
source_if_exists $HOME/.zsh/aliases
source_if_exists $HOME/.zsh/history

# Autoload 
autoload -U zmv
autoload -U promptinit && promptinit
autoload -U colors && colors
autoload -U compinit && compinit

# Export
export EDITOR=nvim
export VISUAL=nvim

# Keybindings
bindkey -e

# Completion
source_if_exists $HOME/.zsh/completion

{{- if .zinit.enable }}
zinit cdreplay -q
{{- end }}

# Shell integrations
eval "$(fzf --zsh)"
{{- if .starship.enable }}
eval "$(starship init zsh)"
{{- end }}
