[user]
    name = {{ full_name }}
    email = {{ git_email }}
    signingkey = {{ git_signingkey }}
[github]
    user = {{ git_user }}
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[core]
    excludesfile = ~/.gitignore_global
    editor = nvim
	pager = diff-so-fancy | less --tabs=2 -RFXS --pattern '^(Date|added|deleted|modified): '
[commit]
    gpgSign = {{ git_sign_commits }}
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
    changeHunkIndicators = true
    stripLeadingSymbols = true
    markEmptyLines = false
    rulerWidth = 
	first-run = false
